<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/login.css" rel="stylesheet" />
		<style>
			.mui-popover{
				width: 74%;
			}
		</style>
	</head>

	<body>
		<body class="bg">
			<div id="login">
				<div class="conent">
					<div class="loginTitle">用户登录</div>
					<div class="loginInput">
						<input type="text" placeholder="用户名" v-model="UserName" />
						<input type="password" placeholder="登录密码" v-model="PassWord" />
						<a href="#KQBtn" id="openPopover">
							<input type="text" class="KQ" v-model="authcdName" placeholder="选择库区" readonly="readonly" />
						</a>
						<div class="loginBtn" @click="longin">登录</div>
						<div class="link-area">
							<a id='remember' @click="rememberPsw" class="pos-rev">记住密码<span class="mui-icon" :class="{cur:pswflag}"></span></a>
							<span class="spliter">|</span>
							<a id='setting' @click="setting">配置信息</a>
						</div>
					</div>
				</div>
				<!-- 选择库区弹窗 -->
				<div id="popover" class="mui-popover mui-popover-bottom">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell" v-for="(item,index) in qxList" @click="select(item)">
							<a href="#">{{item.name}}</a>
						</li>
					</ul>
				</div>
				<!-- 配置服务器弹窗 -->
				<div id="actionsheet" class="mui-popover mui-popover-bottom mui-popover-action actionsheet">
					<!-- 可选择菜单 -->
					<ul class="mui-table-view group-boder-hide view-bg pos-Y-Cent">
						<li class="mui-table-view-cell group-boder-hide">
							<div class="mui-input-group group-boder-hide">
								<div class="mui-input-row inputafter-border-left">
									<label class="label-W"><span style="color: red;">#</span>服务器：{{TP}}</label>
									<input class="input-W" type="text" v-model="ip" placeholder="请输入url地址">
								</div>
							</div>
						</li>
						<li class="mui-table-view-cell group-boder-hide">
							<button class="saveBtn mui-btn-primary" @click="save">保存</button>
						</li>
					</ul>
				</div>
			</div>
		</body>
		<script src="../js/mui.js"></script>
		<script src="../js/vue.js"></script>
		<script src="../js/syscallrout.js"></script>
		<script src="../js/login.js"></script>
		<script src="../js/update.js"></script>
		<script type="text/javascript">
			mui.init();
			mui('.loginInput').on('tap','.KQ',function(){
				mui('#popover').popover('toggle',document.getElementById("openPopover"));
			});
		</script>
</html>
